html {
    width: 102vw;
    cursor: url('misha.png'), auto;
}


@font-face {
    font-family: 'Dancing Script';
    src: url('./Dancing_Script/DancingScript-VariableFont_wght.ttf'),
         url('./Dancing_Script/static/DancingScript-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: url('./PT_Serif/PTSerif-Regular.ttf'),
         url('./PT_Serif/PTSerif-BoldItalic.ttf'),
         url('./PT_Serif/PTSerif-Italic.ttf'),
         url('./PT_Serif/PTSerif-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("anima.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0vh;
    overflow-x: hidden;
}
.header1 {
    display: block;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 8vh;
    width: 100vw;
    z-index: 999;
}
.header2 {
    display: block;
    position: fixed;
    top: 0;
    padding-top: 10vh;
    left: 0;
    height: 8vh;
    width: 100vw;
    background: linear-gradient(rgba(241, 3, 201, 0.932), rgba(241, 0, 40, 0.897));
    z-index: 999;

    border-image: linear-gradient(to right, rgb(241, 3, 3), rgb(197, 241, 3), rgb(3, 39, 241), rgb(0, 241, 12)) 2;
    border-bottom-style: solid;
    border-width: 1vh;

    animation: borderir 5s linear infinite;
}
.textur {
    margin-left: 12vw;
    font-size: 170%;
}

a {

    color: white;
    font-family: 'Dancing Script';
    text-decoration: none;

    cursor: url('misha21.png'), pointer;
}
p {
    font-family: 'PT Serif';
}
a:hover {
    color: rgba(255, 255, 255, 0.932);
}
.blancos:first-child {
    margin-left: 47vw;
}
.blancos {
    margin-left: 4vw;
    font-size: 170%;
}
.base {
    display: block;
    visibility: visible;
    margin-top: 38vh;
    margin-left: 33vw;
    padding: 5px;
    height: auto;
    width: 30vw;
    background: linear-gradient(rgba(3, 213, 241, 0.315), rgba(0, 241, 40, 0.322));
    border-radius: 50px;
    transition: 2s;
    animation: colorear 10s linear infinite;
}
.preg {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    height: 11vh;
    width: 5vw;
    background-color: green;
    border-radius: 100px;
    cursor: url('misha21.png'), pointer;
}
.pre {
    color: white;
    text-align: center;
    margin-top: 1.3vh;
    font-size: 250%;
    z-index: 9;
}
.show {
    position: fixed;
    right: 2vw;
    bottom: 0;
    height: 50vh;
    width: 18vw;
    background: url('background.jpg') no-repeat 50%;
    z-index: 20;

    animation: animeback 10s ease-out infinite;
}
.mess {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 16vw;
    background: linear-gradient(rgb(47, 0, 255), rgb(195, 188, 255));
    color: white;
    border-color: blue;
    border-radius: 20px;
    border-style: solid;
    outline: none;
}

.mess::placeholder {
    padding-left: 4vw;
    color: rgba(214, 212, 212, 0.514);
}
.mensajer {
    height: 43vh;
    grid-column: auto;
}
.nombre {
    position: absolute;
    top: -2.4vh;
    margin-left: 2vw;
    font-size: 170%;
    color: white;
}

.botmess {
    margin-top: 5vh;
    width: 10vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    border-radius: 100px;
    background-color: rgb(99, 99, 253);
}
.botmessGrande {
    margin-top: 2vh;
    width: 10vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 100px;
    background-color: rgb(99, 99, 253);
}

.usermess {
    margin-top: 4vh;
    width: 3vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 13vw;
    border-radius: 100px;
    background-color: rgb(99, 99, 99);
}
.textMess {
    font-size: 79%;
    color: white;
}
.topcer {
    height: 6vh;
    width: 18vw;
    background: linear-gradient(to right, rgb(0, 126, 17), rgb(90, 128, 0), rgb(0, 2, 128));
    
    border-image: linear-gradient(to right, rgb(241, 3, 3), rgb(197, 241, 3), rgb(3, 39, 241), rgb(0, 241, 12)) 2;
    border-bottom-style: solid;

        animation: borderir 5s linear infinite;
}
.cierrra {
    position: absolute;
    top: -2vh;
    right: 0;
    color: white;
    font-size: 140%;
    border-radius: 200px;
    border-style: solid;
    border-color: red;
    cursor: url('misha21.png'), pointer;
}
.about2 {
    display: grid;
    grid-template-columns: 32vw 32vw 30vw;
    overflow: hidden;
    margin-top: -45vh;
    margin-left: 100vw;
    padding: 5px;
    height: auto;
    transition: 2s;
}
.map {
    padding: 5px;
    height: auto;
    width: 30vw;
    background: linear-gradient(rgba(27, 3, 241, 0.233), rgba(0, 241, 108, 0.205));
    border-radius: 50px;
    /* border-image: linear-gradient(to right, red, orange) 1; */

    /* border-style: solid; */
}
/*     background: linear-gradient(rgba(27, 3, 241, 0.233), rgba(0, 241, 108, 0.205));
    border-radius: 50px;
    margin-left: 100vw;
*/
.welcome {
    color: white;
    text-align: center;
}
.politics {
    margin-top: 30vh;
    margin-left: 1vw;
    padding-top: 4vh;
    height: 90vh;
    width: 96vw;
    border-radius: 50px;
    background: linear-gradient(rgba(27, 3, 241, 0.233), rgba(0, 241, 108, 0.205));
}
.text {
    color: white;
    text-align: center;
    font-size: 120%;
}
.blockes {
    margin-top: 5vh;
    margin-left: 7vw;
    padding-top: 10vh;
    height: 60vh;
    width: 83vw;
    background-color: rgba(27, 3, 241, 0.233);
    overflow-y: scroll;
    overflow-x: hidden;
}
.block {
    display: grid;
    grid-template-columns: 10vw 70vw;
    height: 10vh;
    margin-left: 10vw;
    padding-top: 2vh;
    margin-top: 2vh;
    padding-left: 4vw;
    width: 64vw;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 160px;
    cursor: url('misha21.png'), pointer;
}
.block2 {
    display: grid;
    grid-template-columns: 10vw 70vw;
    height: 10vh;
    margin-left: 10vw;
    padding-top: 2vh;
    margin-top: 2vh;
    padding-left: 4vw;
    width: 64vw;
    background-color: rgba(185, 4, 4, 0.76);
    border-radius: 160px;
    cursor: url('misha21.png'), pointer;
}
.block2:hover {
    background-color: rgba(219, 8, 8, 0.76);
}
.block:hover {
    background-color: rgba(51, 51, 51, 0.76);
}
.comma {
    margin-top: 1.2vh;
    color: white;
    width: 6vw;
    background-color: black;
}
.commar {
    margin-top: 2vh;
    font-size: 150%;
    color: white;
}

/* Animation Css */

@keyframes colorear {
    from {
        background: linear-gradient(rgba(3, 213, 241, 0.315), rgba(0, 241, 40, 0.322));
        transition: 20s;
    }
    to {
        background: linear-gradient(rgba(27, 3, 241, 0.315), rgba(217, 241, 0, 0.322));
        transition: 20s;
    }
}

@keyframes borderir {
    0% {
        border-image: linear-gradient(to right, rgb(241, 3, 3), rgb(197, 241, 3), rgb(3, 39, 241), rgb(0, 241, 12)) 2;
    }
    50% {
        border-image: linear-gradient(to right, rgb(225, 241, 0), rgb(3, 241, 23), rgb(241, 3, 221), rgb(3, 154, 241)) 2;
    }
    80% {
        border-image: linear-gradient(to right, rgb(8, 241, 0), rgb(3, 225, 241), rgb(241, 3, 74), rgb(126, 3, 241)) 2;
    }
}
@keyframes animeback {
    0% {
        background-position-x: 0vw;
    }
    50% {
        background-position-x: -3vw;
    }
    70% {
        background-position-x: -5vw;
    }
    90% {
        background-position-x: -7vw;
    }
    100% {
        background-position-x: -9vw;
    }
}


/* Media mobile CSS */
@media only screen and (max-width: 1115px) {
    .blancos:first-child {
        margin-left: 40vw;
    }
    .base {
        margin-left: 27vw;
        width: 40vw;
    }
    .about2 {
        margin-top: -45vh;
    }
    .block{
        grid-template-columns: 12vw 70vw;
        margin-left: 1vw;
        padding-left: 2vw;
        width: 84vw;
    }
    .block2 {
        grid-template-columns: 16vw 70vw;
        margin-left: 1vw;
        padding-left: 2vw;
        width: 84vw;
    }
    .blockes {
        margin-left: 5vw;
        width: 90vw;
    }
}
@media only screen and (max-width: 1000px) {

    .blancos:first-child {
        margin-left: 30vw;
    }
    body {
        background-position-x: -20vw;
        background-size: 140vw 120vh;
    }
    .preg {
        right: 2.5vw;
        width: 7vw;
        border-radius: 100px;
    }
    .show {
        right: 1vw;
        width: 23vw;
    }
    .topcer {
        width: 23vw;
    }
    .mess {
        width: 20vw;
    }
    .botmess {
        width: 15vw;
    }
    .usermess {
        margin-left: 16vw;
    }
    .botmessGrande {
        width: 17vw;
    }
    .usermess {
        margin-left: 12vw;
        width: 8.2vw;
    }
}

@media only screen and (max-width: 910px) {
    .blancos:first-child {
        margin-left: 30vw;
    }
    .base {
        margin-left: 27vw;
        width: 40vw;
    }
    .about2 {
        margin-top: -45vh;
    }
    body {
        background-position-x: -20vw;
        background-size: 140vw 120vh;
    }
    .politics {
        margin-left: 0vw;
    }
    .preg {
        right: 2vw;
        width: 7vw;
        border-radius: 100px;
    }
    .show {
        right: 1vw;
        width: 23vw;
    }
    .topcer {
        width: 22.4vw;
    }
    .mess {
        width: 20vw;
    }
    .botmess {
        width: 15vw;
    }
    .usermess {
        margin-left: 16vw;
    }
    .botmessGrande {
        width: 17vw;
    }
    .block{
        grid-template-columns: 12vw 70vw;
        margin-left: 1vw;
        padding-left: 2vw;
        width: 84vw;
    }
    .block2 {
        grid-template-columns: 16vw 70vw;
        margin-left: 1vw;
        padding-left: 2vw;
        width: 84vw;
    }
    .blockes {
        margin-left: 5vw;
        width: 90vw;
    }
    .comma {
        height: 7vh;
        width: 8vw;
    }
    .commar {
        font-size: 130%;
    }
}
@media only screen and (max-width: 761px) {
    .blancos:first-child {
        margin-left: 14vw;
    }
    .base {
        margin-left: 22vw;
        width: 47vw;
    }
    .preg {
        right: 3vw;
        width: 9vw;
        border-radius: 100px;
    }
    .show {
        right: 3.2vw;
        width: 27vw;
    }
    .topcer {
        width: 26.2vw;
    }
    .mess {
        width: 24vw;
    }
    .botmess {
        width: 20vw;
    }
    .botmessGrande {
        width: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-position-x: -60vw;
        background-size: 240vw 120vh
    }
    .base {
        margin-left: 6vw;
        width: 80vw;
    }
    .BurgerShow {
        position: fixed;
        display: grid;
        background-color: black;
        right: 0;
        margin-top: 5vh;
    }
    .Burgerhide {
        position: fixed;
        display: grid;
        background-color: black;
        right: -100vw;
        margin-top: 5vh;
    }
    .Button {
        position: absolute;
        margin-top: -5vh;
        right: 8vw;
        color: white;
        font-size: 400%;
        cursor: url('misha21.png'), pointer;
        width: 5vw;
    }

    .blancos:first-child {
        margin-left: 0vw;
    }
    .blancos {
        margin-top: 2vh;
        margin-left: 0vw;
    }
    .about2 {
        display: block;
    }
    .map {
        padding: 10px;
        margin-top: 5vh;
        width: 90vw;
    }
    .textur {
        margin-left: 35vw;
    }
    .commar {
        margin-top: 0vh;
        font-size: 120%;
    }
    .blockes {
        margin-left: 0vw;
        width: 95vw;
    }
    .block, .block2 {
        grid-template-columns: 23vw 60vw;
        height: 14vh;
        margin-left: 0vw;
        width: 89vw;
    }
    .comma {
        font-size: 160%;
        height: 6vh;
        width: 16vw;
    }
    .preg {
        right: 3vw;
        width: 13vw;
    }
    .show {
        width: 40vw;
    }
    .topcer {
        width: 38.8vw;
    }
    .mess {
        width: 28vw;
    }
    .botmess {
        width: 27vw;
    }
    .textMess {
        font-size: 77%;
    }
    .mess::placeholder {
        padding-left: 4vw;
    }
    .send {
        position: absolute;
        width: 7vw;
        height: 6vh;
        bottom: 0.4vh;
        right: 0;
        color: white;
        background-color: aqua;
        border-radius: 50px;
        border-color: transparent;
        cursor: url('misha21.png'), pointer;
    }
    .usermess {
        width: 22vw;
    }
    .botmessGrande {
        padding-left: 5vw;
        width: 30vw;
    }
    .botmess {
        width: 30vw;
    }
}
@media only screen and (max-width: 300px) {
    body {
        background-position-x: -140vw;
        background-size: 400vw 120vh;
    }
    .base {
        margin-top: 33vh;
        margin-left: -3vw;
        width: 91vw;
    }
    .text {
        font-size: 83%;
    }
    .Button {
        right: 17vw;
    }
    .about2 {
        margin-top: -56vh;
    }
    .preg {
        right: 4vw;
        width: 20vw;
    }
    .show {
        width: 70vw;
    }
    .topcer {
        width: 69vw;
    }
    .botmess {
        width: 50vw;
    }
    .mess {
        width: 50vw;
    }
    .mess::placeholder {
        padding-left: 6vw;
    }
    .send {
        width: 12vw;
    }
    .usermess {
        margin-left: 35vw;
        width: 32vw;
    }
    .botmessGrande {
        width: 50vw;
    }
    .politics {
        margin-left: -4vw;
        background: linear-gradient(rgb(27 3 241 / 77%), rgb(0 241 108 / 62%));
    }
    .welcome {
        font-size: 150%;
    }
    .blockes {
        padding-top: 0vh;
        width: 200vw;
    }
    .commar {
        font-size: 90%;
    }
    .block, .block2 {
        grid-template-columns: 29vw 60vw;
        width: 94vw;
        border-radius: 50px;
    }
    .comma {
        width: 22vw;
    }
}
@media only screen and (height: 512px) {

    html {
        width: 113vw;
    }
    body {
        background-position-x: -76vw;
        background-size: 280vw 120vh;
    }
    .header1, .header2 {
        width: 116vw;
    }
    .Button {
        margin-top: -6.5vh;
    }
    .base {
        margin-top: 30vh;
        margin-left: 0vw;
        width: 97vw;
    }
    .about2 {
        margin-top: -50vh;
    }
    .text {
        font-size: 90%;
    }
    .welcome {
        font-size: 140%;
    }
    .preg {
        right: 5vw;
        width: 17vw;
        bottom: 5vh;
    }
    .show {
        width: 60vw;
    }
    .topcer {
        width: 58.2vw;
    }
    .nombre {
        top: -4vh;
    }
    .base {
        width: 105vw;
    }
    .cierrra {
        top: -3vh;
    }
    .botmess {
        width: 44vw;
    }
    .mess {
        width: 40vw;
    }
    .mess::placeholder {
        padding-left: 3vw;
    }
    .send {
        height: 8.3vh;
        width: 12vw;
        bottom: 0vh;
        font-size: 120%;
    }
    .usermess {
        margin-left: 35vw;
    }
    .botmessGrande {
        width: 50vw;
    }
    .commar {
        font-size: 90%;
    }
    .block, .block2 {
        grid-template-columns: 31vw 66vw;
        width: 105vw;
        border-radius: 50px;
    }
    .politics {
        margin-left: -2vw;
        width: 110vw;
    }
    .map {
        width: 100vw;
    }
    .about2 {
        margin-left: 110vw;
    }
    .blockes {
        width: 110vw;
    }
}
@media only screen and (height: 915px) {

    html {
        width: 133vw;
    }
    body {
        background-position-x: -170vw;
        background-size: 500vw 140vh;
    }
    .Button {
        margin-top: -11vh;
        right: 25vw;
        font-size: 700%;
    }
    .header2 {
        height: 0vh;
    }
    .header1, .header2 {
        width: 134vw;
    }
    .about2 {
        margin-left: 130vw
    }
    .base {
        margin-left: 2vw;
        width: 124vw;
    }
    .map {
        margin-top: 3vh;
        width: 110vw;
    }
    .politics {
        width: 120vw;
    }
    .preg {
        width: 23vw;
    }
    .pre {
        margin-top: 2.1vh;
        font-size: 340%;
    }
    .show {
        width: 70vw;
    }
    .topcer {
        width: 68.5vw;
    }
    .botmess {
        width: 50vw;
    }
    .textMess {
        font-size: 130%;
    }
    .nombre {
        font-size: 240%;
    }
    .cierrra {
        top: -2.2vh;
        font-size: 230%;
    }
    .mess {
        height: 3vh;
        width: 52vw;
        font-size: 160%;
    }
    .send {
        width: 12vw;
        bottom: -0.2vh;
    }
    .usermess {
        width: 42vw;
        margin-left: 26vw;
    }
    .botmessGrande {
        width: 60vw;
    }
    .textur {
        margin-left: 43vw;
    }
    .politics {
        width: 130vw;
    }
    .blockes {
        width: 133vw;
    }
    .block, .block2 {
        grid-template-columns: 33vw 60vw;
        padding-left: 9vw;
        width: 120vw;
    }
}